<nav class="navbar">
    <a href="#" class="logo">
        <img src="/static/img/logo_artic.jpeg" alt="Logo SENA">
        <div>
            <h2>
                ESTRATEGIA
                <br>
                <span class="span2">SENA </span>ARAUCA
            </h2>
        </div>
    </a>

    <ul class="menu" id="menu">
        <li><a href="{{url_for('main.inicio')}}" class="active">INICIO</a></li>
        <li><a href="{{url_for('main.inicio')}}#proyectos2">Proyectos</a></li>
        <li><a href="{{url_for('main.inicio')}}#colegios2">Colegios</a></li>
        <li><a href="{{url_for('main.inicio')}}#municipios2">Municipios</a></li>
        <li><a href="{{url_for('main.inicio')}}#instructores2">Instructores</a></li>
    </ul>

    <div class="nav-buttons">
        <a href="{{url_for('admin.login')}}"><button class="btn-login">
                Iniciar Sesión
            </button></a>

        <div class="menu-mobile" id="menuMobile">
        ☰
    </div>
    </div>
</nav>