<nav class="navbar">
            <a href="#" class="logo">
                <img src="/static/img/logo_artic.jpeg" alt="Logo SENA">
                <div>
                    <h2>ARTICULACION</h2>
                    <span>CON LA MEDIA</span>
                    <br>
                    <span class="span2">REGIONAL ARAUCA</span>
                </div>
            </a>

            <ul class="menu">
                <li><a href="{{url_for('main.inicio')}}" class="active">INICIO</a></li>
                <li><a href="{{url_for('main.inicio')}}#municipios">Municipios</a></li>
                <li><a href="{{url_for('main.inicio')}}#proyectos">Proyectos</a></li>
                <li><a href="{{url_for('main.inicio')}}#colegios">Colegios</a></li>
                <li><a href="{{url_for('main.inicio')}}#instructores">Instructores</a></li>
            </ul>

            <div class="nav-buttons">
                <button class="btn-login">
                    Iniciar Sesión
                </button>

                <div class="menu-mobile">
                    <i class="ri-menu-3-line"></i>
                </div>
            </div>
        </nav>
