<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/styleFellizola.css')}}">
</head>

<body>
    <!-- NAV -->
    <nav>
        <div class="logo">SENA Arauca</div>
        <div class="menu-toggle" id="menu-toggle">&#9776;</div>
        <ul id="menu">
            <li><a href="{{url_for('inicio')}}" class="active">Inicio</a></li>
            <li><a href="{{url_for('proyectos')}}">Proyectos</a></li>
            <li><a href="{{url_for('colegios')}}">Colegios</a></li>
            <li><a href="{{url_for('municipios')}}">Municipios</a></li>
            <li><a href="#instructores">Instructores</a></li>
        </ul>
    </nav>
    <section id="hero">
        <h1>Institucion Educativa <br>La frontera</h1>
        <a href="#nuestros-tecnicos" class="button">
            Nuestros Tecnicos
        </a>
    </section>
    <!-- INFO-COLEGIO -->
    <div id="info-colegio">
        <div class="container">
            <div class="img-colegio">
                <img src="./static/img/lse-library-ddNkplRhzv0-unsplash (1).jpg" alt="logo">
                <h2>Institucion educativa <span class="color-acento">la frontera</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum debitis eos repellendus cupiditate
                    id, molestias deserunt molestiae officia ex amet repudiandae aliquam commodi rerum. Porro omnis
                    assumenda nobis aperiam accusamus, sunt explicabo! Laudantium ipsum odit nihil id tenetur similique
                    nesciunt temporibus nisi inventore incidunt aut repudiandae, rem saepe? Aperiam, labore quia
                    cupiditate aliquam, natus consequatur eos culpa earum similique iste ipsam dolorem nam nihil, eum
                    blanditiis expedita enim est qui. Impedit eos iusto quod expedita ex dolores perspiciatis
                    exercitationem repellat quas, unde amet velit. Molestiae officia dolore, vel repudiandae voluptates,
                    esse soluta nam, saepe iste mollitia ipsa necessitatibus veniam? Recusandae qui quidem perferendis
                    pariatur, odit reprehenderit deleniti consequuntur? Ipsam odio est totam dolorem similique eaque
                    nihil pariatur. Excepturi itaque optio est consequuntur commodi quas. Molestias fuga, aperiam
                    officiis impedit enim quibusdam incidunt obcaecati excepturi assumenda ducimus accusamus, porro
                    ullam architecto praesentiu.</p>
            </div>
        </div>
    </div>

    <!-- INFO-TECNICO -->
    <section id="nuestros-tecnicos">
        <div class="container">
            <h2>Nuestros <span class="color-acento">Técnicos</span></h2>
            <div class="tecnicos">
                <div class="carta-tecnico">
                    <h3>Programación Software</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis cum corrupti eos accusantium
                        veniam dolore quibusdam eum impedit. Voluptatem vero velit unde doloribus fuga labore natus
                        exercitationem deleniti aperiam animi?</p>
                    <a href="" class="button">+Info</a>
                </div>
                <div class="carta-tecnico">
                    <h3>Programación de Veterinaria</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis cum corrupti eos accusantium
                        veniam dolore quibusdam eum impedit. Voluptatem vero velit unde doloribus fuga labore natus
                        exercitationem deleniti aperiam animi?</p>
                    <a href="" class="button">+Info</a>
                </div>
                <div class="carta-tecnico">
                    <h3>Programación de Enfermería</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis cum corrupti eos accusantium
                        veniam dolore quibusdam eum impedit. Voluptatem vero velit unde doloribus fuga labore natus
                        exercitationem deleniti aperiam animi?</p>
                    <a href="" class="button">+Info</a>
                </div>
            </div>
        </div>
    </section>

    <!-- CARRUSEL 2026 -->
    <div class="cartelera">
        <h2><span class="color-acento">Proyectos</span> 2026</h2>
        <div class="carrucel">
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/brands-people-Ax8IA8GAjVg-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/brands-people-Ax8IA8GAjVg-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/brands-people-Ax8IA8GAjVg-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/brands-people-Ax8IA8GAjVg-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/brands-people-Ax8IA8GAjVg-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/brands-people-Ax8IA8GAjVg-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/brands-people-Ax8IA8GAjVg-unsplash (1).jpg" alt="">
                </a>
            </div>
        </div>
    </div>

    <!-- CARRUSEL 2025 -->
    <div class="cartelera">
        <h2><span class="color-acento">Proyectos</span> 2025</h2>
        <div class="carrucel">
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/scott-graham-5fNmWej4tAA-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/scott-graham-5fNmWej4tAA-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/scott-graham-5fNmWej4tAA-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/scott-graham-5fNmWej4tAA-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/scott-graham-5fNmWej4tAA-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/scott-graham-5fNmWej4tAA-unsplash (1).jpg" alt="">
                </a>
            </div>
            <div class="proyectos">
                <a href="#">
                    <img src="./static/img/scott-graham-5fNmWej4tAA-unsplash (1).jpg" alt="">
                </a>
            </div>
        </div>
    </div>

    <!-- INSTRUCTORES -->

    <section id="instructores">
        <h2>Nuestros <span class="color-acento">instructores</span> </h2>
        <div class="instructores-container">

            <div class="carta-instructor">
                <img src="./static/img/jurica-koletic-7YVZYZeITc8-unsplash (1).jpg" alt="Instructor">
                <h3>Israel Acevedo</h3>
                <p>Instructor de Técnico en Programación</p>
                <p>Ingeniero en sistemas.</p>
                <p>Email: israelacevedo@gmail.com</p>
                <a href="{{url_for('instructor')}}" class="button">+Info</a>
            </div>

            <div class="carta-instructor">
                <img src="./static/img/jurica-koletic-7YVZYZeITc8-unsplash (1).jpg" alt="Instructor">
                <h3>Josue Angarita</h3>
                <p>Instructora de Técnico en Contabilidad</p>
                <p>Profesional en ...</p>
                <p>Email: josue@gmail.com</p>
                <a href="" class="button">+Info</a>
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 SENA Arauca - Todos los derechos reservados</p>
        </div>
    </footer>


    <script src="{{url_for('static', filename='js/scriptFelizzola.js')}}"></script>
</body>

</html>