{% extends "base.html" %}
{% block content %}
<header id="inicio" class="hero">
  <div class="hero-inner">
    <h1 class="flash-text">ARTICULACION SENA ARAUCA</h1>
    <p class="hero-sub">Conectando proyectos de colegios y municipios SENA Arauca</p>
    <a class="btn" href="#emprendimientos">Explorar</a>
  </div>
</header>

<!-- EMPRENDIMIENTOS (DISEÑO VERDE) -->
{%if proyectos%}
<section id="proyectos" class="section emprendimientos">
  <div class="container">
    <h2>Proyectos Productivos</h2>
    {%for proyecto in proyectos%}
    <div class="cards">
      <a href="{{url_for('main.proyecto', id = proyecto.id)}}">
        <article class="card">
          <img src="{{ url_for('static', filename='uploads/' + proyecto.foto) }}" alt="foto {{ proyecto.nombre }}">
          <h3>{{proyecto.nombre}}</h3>
          <p>{{proyecto.descripcion}}</p>
        </article>
      </a>
      {%endfor%}
    </div>
  </div>
</section>
{%endif%}

{%if colegios%}
<!-- COLEGIOS (DISEÑO NARANJA) -->
<section id="colegios" class="section colegios">
  <div class="container">
    <h2>Colegios</h2>
    <div class="cards">
      {%for colegio in colegios%}
      <a href="{{url_for('main.colegio', id = colegio.id)}}">
        <article class="card">
          <img src="{{url_for('static', filename='uploads/'+ colegio.logo)}}" alt="{{colegio.nombre}}">
          <h3>{{colegio.nombre}}</h3>
          <p>{{ colegio.slogan if colegio.slogan }}</p>
        </article>
      </a>
      {%endfor%}
    </div>
  </div>
  <a href="{{url_for('main.colegios')}}">Ver todos los colegios</a>
</section>

{%endif%}
<!-- MUNICIPIOS (DISEÑO GRIS/AZUL) -->
{%if municipios%}
<section id="municipios" class="section municipios">
  <div class="container">
    <h2>Municipios</h2>
    <div class="cards">
      {%for municipio in municipios %}
      <a href="{{url_for('main.municipio', id = municipio.id)}}">
        <article class="card">

          <img src="{{url_for('static', filename='uploads/' + municipio.foto)}}" alt="foto {{municipio.nombre}}">
          <h3>{{municipio.nombre}}</h3>
          <p>Emprendimiento juvenil y cultural.</p>
        </article>
      </a>
      {%endfor%}
    </div>
  </div>
</section>
{%endif%}


<!-- INSTRUCTORES (DISEÑO OSCURO) -->
{%if instructores%}
<section id="instructores" class="section instructores">
  <div class="container">
    <h2>Instructores</h2>
    <div class="cards">
      {%for instructor in instructores%}
      <a href="{{url_for('main.instructor', id= instructor.id)}}">
        <article class="card">
          <img src="{{url_for('static', filename='uploads/'+ instructor.foto)}}" alt="Instructor 1">
          <h3>{{instructor.nombres + " "+ instructor.apellidos}}</h3>
          <p>profesional en: {{instructor.id_cargo}}</p>
        </article>
      </a>
      {%endfor%}
    </div>
  </div>
</section>

{%endif%}
{% endblock %}