<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Municipios - Arauca</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/estilos.css')}}">
</head>

<body>

    <header>
        <h1>Portal de Municipios del Departamento de Arauca</h1>
    </header>

    <main>
        <section class="contenedor-modulos">

            <div class="modulo">
                <h2>Arauca</h2>
                <a href="arauca.html" class="btn">Entrar</a>
            </div>

            <div class="modulo">
                <h2>Tame</h2>
                <a href="tame.html" class="btn">Entrar</a>
            </div>

            <div class="modulo">
                <h2>Saravena</h2>
                <a href="saravena.html" class="btn">Entrar</a>
            </div>

            <div class="modulo">
                <h2>Arauquita</h2>
                <a href="arauquita.html" class="btn">Entrar</a>
            </div>

            <div class="modulo">
                <h2>Fortul</h2>
                <a href="fortul.html" class="btn">Entrar</a>
            </div>

            <div class="modulo">
                <h2>Cravo Norte</h2>
                <a href="cravo_norte.html" class="btn">Entrar</a>
            </div>

            <div class="modulo">
                <h2>Puerto Rondón</h2>
                <a href="puerto_rondon.html" class="btn">Entrar</a>
            </div>

        </section>
    </main>

    <footer>
        <p>Proyecto SENA - 2025 | Portal de Municipios de Arauca</p>
    </footer>

</body>

</html>